<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>实现QQ侧滑效果.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>A6AFEFE01C77984B00A4F9D0</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>A6AFEFF41C77984B00A4F9D0</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>A6AFEFFF1C77984B00A4F9D0</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
